
/*--------------------------------------SIZE--------------------------------------*/
$xs: 590px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1500px;

/*------------------------------------COLORS------------------------------------*/
$dd-red: #ff0f3b;
$dd-white: #f4f4f4;
$dd-green: #3fffb9;
$dd-black: #0c0c0c;


$white: #fff;
$black: #252525;

$light-blue: #aaddff;
$light-pink: #e6b2a0;
